<div class="header-cart" width="48px" height="48px">
  <svg
    class="icon icon-cart-empty"
    aria-hidden="true"
    focusable="false"
    xmlns="http://www.w3.org/2000/svg"
    width="26"
    height="17"
    viewBox="0 0 26 17"
    fill="none"
  >
    <path d="M17.1424 6.29839C14.7661 6.29839 14.7202 4.89278 13.2567 3.97067C12.0736 3.223 11.2883 2.04169 9.88594 1.60805C9.3301 1.43858 8.64168 1.42861 8.24902 1.85229C7.83087 2.30587 7.97365 3.07347 8.4224 3.49216C8.87115 3.91085 9.52388 4.0554 10.146 4.07035C11.1404 4.09528 12.1654 4.04045 13.1496 3.92581" stroke="black" stroke-miterlimit="10"></path>
    <path d="M8.37109 6.29839C10.7474 6.29839 10.7933 4.89278 12.2569 3.97067C13.4399 3.223 14.2252 2.04169 15.6276 1.60805C16.1834 1.43858 16.8719 1.42861 17.2645 1.85229C17.6827 2.30587 17.5399 3.07347 17.0911 3.49216C16.6424 3.91085 15.9897 4.0554 15.3675 4.07035C14.3731 4.09528 13.3481 4.04045 12.364 3.92581" stroke="black" stroke-miterlimit="10"></path>
    <path d="M7 3.5H0.5V16.5H25.5V3.5H18.5" stroke="black"></path>
  </svg>
</div>
